@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Gloria+Hallelujah|Leckerli+One|Lobster|Lobster+Two|Pacifico|Sacramento|Satisfy');
@font-face {
  font-family: 'Pacifico', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'Sacramento', cursive;
  font-family: 'Dancing Script', cursive;
}

body {
  background: #34495e;
  font-family: sans-serif;
  font-size: 0.9em;
}

header {
  font-family: "Sacramento", Helvetica, sans-serif;
  font-size: 5em;
  margin-top: 2em;
}

a:visited{
  color:white;
}

div#main.navbar{
  background: #34496e;
}

div.nav{
  padding-top: 30px;
}

.navbar{
  overflow: hidden;
  /* background-color: #333;*/
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  text-align: center;
}

div.nav a{
  margin-top: 10px;
}

.nav {
  display: inline-block;
  *display:inline; /* for IE7*/
  *zoom:1;/* for IE7*/
  min-width:100px;
  min-height:50px;
  margin-right:10px;
  white-space:normal;
  text-align: center;
}

.nav a {
  padding: 0px 0px 10px 0px;
  text-decoration: none;
}

.nav a:hover {
  color: #333;
}

#colone{
  text-align: right;
}
h1 {
  margin: 0;
}

table tr td{
  text-align: center;
}

table tr td a{
  text-decoration: none;
  color: white;
}

table tr td a:hover{
  color: #333;
}

#name{
  text-align: center;
  color: white;
  font-family: "Sacramento";
}

#name a {
  color: white;
  text-decoration: none;
}

input[type="text"] {
    width: 27em;
    height: 3em;
    text-align: center;
}

#Suchfeld {
  text-align: center;
}

#Ergebnisliste {
  margin-top: 10px;
  text-align: center;
}

#Detailansicht {
  text-align: center;
  color: white;
}

#Detailansicht a{
  text-decoration: none;
}

li a{
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 0.9em;
}

li a:hover{
  color: #333;
}

ul li {
  list-style-type: none;
}

p {
  color: white;
}

.markenContainer{
  float:left;
  width: 33.33333%;
  height: 184px;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 50px;
}

@media screen and (max-width: 1025px) {
	.container > header {
		margin: 0 auto;
		padding: 120px 50px;
		font-size: 70%;
		text-align: right;
	}
}

@media screen and (max-width: 740px) {

	.codrops-icon span {
		display: none;
	}

}
