{% comment %}
   humanize:
      For the "apnumber" filter, to display "two" instead of
      "2". Requries 'django.contrib.humanize' in INSTALLED_APPS

   static:
      To access the public static file directory, without having to hard
      code urls.
{% endcomment %}
{% load humanize %}
{% load static %}

<!doctype html>

<html lang="de">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
    <title> ratelyy </title>
  </head>

  <body>
    {% block body %}
    <div id="main"
      <div class="navbar">
        <div class="nav"><a href="">ratelyy's Mission</a></div>
        <div class="nav"><a href="">Konzerne A-Z</a></div>
        <div class="nav"><a href="">Unternehmen A-Z</a></div>
        <div class="nav"><a href="">Marken A-Z</a></div>
        <div class="nav"><a href="">ProdukteA-Z</a></div>
        <div class="nav"><a href="">FAQ</a></div>
      </div>

      <header>
        <div id="name">
          <h1><a href="http://localhost:8000/database/">ratelyy</a></h1>
        </div>
      </header>

      <div id="Suchbereich">
        <div id="Suchfeld">
          <input placeholder="Nestle Marke" type="text" id="search" name="search_text"/>
        </div>
      </div>
      <div id="Ergbenisbereich">
        <div id="Ergebnisliste">
          <div id="color_search_results"></div>
        </div>

         <script type='text/javascript' src="{% static 'js/jquery-3.2.1.js' %}"></script>
         <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
         <script language="javascript">
            /*
               Before our JavaScript can be imported, the following JavaScript
               variables need to be set from Django variables. While these
               values could be hard-coded into the JavaScript, this allows
               them to be centrally located.
            */
            //From database.views.MIN_SEARCH_CHARS
            var MIN_SEARCH_CHARS = {{ MIN_SEARCH_CHARS }};

            //The url to submit the search form. From databae.urls
            var SUBMIT_URL = "{% url 'database:search' %}";
         </script>
         <script type='text/javascript' src="{% static 'js/color_ajax_search.js' %}"></script>
         <script type='text/javascript' src="{% static 'js/color_ajax_main.js' %}"></script>
        </div>
        <div id="Detailansicht">
          {% block details %}

          {% endblock %}
        </div>
      </div>
    </div>
    <script type='text/javascript' src="{% static 'js/color_ajax_search.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/color_ajax_main.js' %}"></script>
  {% endblock %}
  </body>
</html>
